.modal-profile {
	display:none;
    min-height: 300px;
    overflow: hidden;
	width: 700px;
	padding:25px;
	border:1px solid #fff;
	box-shadow: 0px 2px 7px #292929;
	-moz-box-shadow: 0px 2px 7px #292929;
	-webkit-box-shadow: 0px 2px 7px #292929;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background: #f2f2f2;
	z-index:50;
}

.modal-lightsout {
	display:none;
    position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:25;
	background:#000 ;
}

.modal-close-profile {
	display:none;
	position:absolute;
    height: 43px;
	width: 43px;
    background-image: url('close.png');
	top:1px;
	right:0.5px;
}

.ac_code_div > div.CodeMirror {
    border: 2px solid #aaa;
}

/* Flex, flex-wrap, and order to rearrange things with reasonable
 * flow at different media sizes. */
.ac_container {
    display: flex;
    flex-wrap: wrap;
}
.ac_container .btn {
    margin: 0.25em;
}
.ac_container > div {
    flex: 1 1 200pt;
    padding: 0.25em;
    max-width: 500pt; /* won't grow beyond 500pt */
}
.ac_container > div.ac_actions {
    break-before: always;
    break-after: always;
}
.ac_container > div.ac_codelens {
    /* give it the full width of the page */
    flex: 1 1 100%;
    max-width: none;
}
.ac_caption {
    font-style: italic;
    font-weight: normal;
    flex: 1 1 200pt;  /* will grow if it can; will wrap if 200pt doesn't fit */
    max-width: 500pt;
    text-align: center;
}
/* Ordering, because it's a pain to hack the existing JS to put things in the right place */
.ac_container > .ac_code_div { order: 10; }
.ac_container > .ac_output   { order: 20; }
.ac_container > .error       { order: 30; }
.ac_container > .ac_actions  { order: 40; }
.ac_container > .ac_caption  { order: 50; }
.ac_container > .ac_codelens { order: 60; }


.ac_actions{
	text-align: center;
}

.ac_sep {
	background: #000;
	display: inline-block;
	margin: -15px 10px;
	width: 1px;
	height: 35px;
	padding: 0;
	border: 0;
}
.ac_output{
	display:none;
}

.ac_caption:before {
    content: "ActiveCode " counter(activecode) ": ";
    counter-increment: activecode;
}

.active_out {
    background-color:#dcdcdc;
    border-radius: 6px;
    min-width: 20em;
    max-height: 300px;
    overflow: auto;
}

.visible-ac-canvas {
    border: 2px solid black;
}

.full_width ol {
	max-width: 100% !important;
}

.ac-disabled {
	pointer-events: none;
}

.ac-feedback {
	border: 1px solid black;
}

.tie-container {
	background: url(loading-text.png) center center no-repeat;
	max-width: 100% ! important;
  }
  .tie-frame {
    border: 0;
    display: block;
    height: 700px;
    padding-top: 20px;
	width: 100%;
	height: 1300px;
  }
